[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
simplejson = "*"
selenium = "*"
requests = "*"
xlsxwriter = "*"

[requires]
python_version = "3.7"

[dev-packages]
